.Four__Parent {
  width: 100%;
  max-width: 1336px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 0 1.2rem;
  gap: 1rem;
  & div{
    border-radius: 20px;
    overflow: hidden;
    & img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
